<div class="container my-5">

    <h3 class="text-center mb-4">Cadastre um produto</h3>

    <div class="form-group">
        <label class="" for="nome">Nome do produto:</label>
        <input type="text" class="form-control" id="nome" placeholder="Digite aqui o nome do produto" [(ngModel)]='produto.nome'>
    </div>

    <div class="form-group">
        <label class="" for="titulo">Preço:</label>
        <input type="number" class="form-control" id="preco" placeholder="Digite aqui o preço do produto" [(ngModel)]='produto.preco'>
    </div>

    <div class="form-group">
        <label class="" for="titulo">Quantidade:</label>
        <input type="number" class="form-control" id="quantidade" placeholder="Digite aqui o preço do produto" [(ngModel)]='produto.quantidade'>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="estoque" [(ngModel)]='produto.estoque'>
        <label class="form-check-label" for="">Produto em estoque</label>
    </div>

    <div class="form-group my-3">
        <label class="" for="tema">Escolha uma categoria</label>
        <select name="categoria" id='categoria' class="form-control" [(ngModel)]="idCategoria" 
            (change)='findAllCategorias()'>
            <option *ngFor='let item of listaCategorias' value={{item.id}}>
                {{item.nome}}
            </option>
        </select>
    </div>

    <div class="form-group d-flex justify-content-end">
        <button type="button" class="btn btn-info" (click)='salvarProduto()'>Salvar produto</button>
    </div>
</div>

<hr class="my-3"> 
<div class="container my-5">
    <div class="form-group">
        <label class="" for="nome">Criar nova categoria</label>
        <input type="text" class="form-control" id="categoria" [(ngModel)]="categoria.nome" placeholder="Digite aqui o nome da nova categoria">
        <div class="form-group d-flex justify-content-end">
            <button type="button" class="btn btn-info my-3" (click)='cadastrar()'>Salvar categoria</button>
        </div>
    </div>

</div>

<hr class="my-3"> 

