.slideImg {
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

.img {
    height: 100%;
    object-fit: cover;
}

@media(max-width: 768px) {
    .slideImg {
        display: none;
    }
}