<div class="container-fluid pb-0">
    <div class="row ">
        <div class="col-md-6 pl-0 slideImg">
            <img src="../../assets/img/produto/cafe.jpg" class="img-fluid img">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-5">
            <div class="form-group m-2 w-100 mx-5">
                <h1 class="mb-3">Login</h1>
                
                <label for="exampleInputEmail1">Endereço de email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Seu email" [(ngModel)]='usuarioLogin.usuario'>
                <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com
                    ninguém.</small>
            </div>
            <div class="form-group m-2 w-100 mx-5">
                <label for="exampleInputPassword1">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha"
                    [(ngModel)]='usuarioLogin.senha'>
                
                <input type="checkbox" aria-label="Checkbox for following text input"><small> Lembre de mim</small>
            </div>
            
            <div class=" mx-5 m-2 w-100">
                <button type="submit" class="btn btn-outline-success" (click)='entrar()'>Entrar</button>
            </div>
            

        </div>
    </div>
</div>