<footer id="footer" class="page-footer font-small pt-4 text-dark" >

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark">Acompanhe o projeto VendaVerde e nos siga nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li><a href="https://github.com/Projeto-Integrador-t10/projetointegrador" target="_blank" class="icoGithub" title="Github">
                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                        </a></li>
                        <li><a href="https://www.instagram.com/oivendaverde" target="_blank" class="icoInstagram" title="Instagram">
                            <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                        </a></li>                   
                </ul>
            </div>
        </div>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 ">        
        <a class="text-dark" target="_blank" href="">  Todos os direitos reservados: VendaVerde</a>
        <span class="text-dark"> © 2020 Copyright </span>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->