<section class="sec-footer-bg d-flex justify-content-center align-items-center">
        <div class="container row my-5">
                <div class="col-md-3 centerFooterOnSmallDevices">
                        <div class="logo mb-5">
                                <a routerLink='/home' class="footer-links">
                                        <img class="img-fluid" src="../../assets/img/logo-outline.svg" alt="">
                                </a>
                        </div>
                </div>
                <div class="col-md-3 d-flex flex-column align-items-end text-dark centerFooterOnSmallDevices">

                </div>
                <div class="col-md-3 d-flex flex-column align-items-end text-dark centerFooterOnSmallDevices">
                        <h5>Contato</h5>
                        <p>oi@vendaverde.com</p>
                </div>
                <div class="col-md-3 d-flex flex-column align-items-end text-dark centerFooterOnSmallDevices">
                        <h5>Links Úteis</h5>
                        <p><a class="footer-links text-dark" routerLink='/sobre'>Sobre nós</a></p>
                        <p><a class="footer-links text-dark"
                                        href="https://github.com/Projeto-Integrador-t10/projetointegrador/issues"
                                        target="_blank">Faça sugestões</a></p>
                </div>
        </div>
</section>
<footer class="container-fluid bg-dark d-flex justify-content-center align-items-center">
        <div
                class="row container text-light d-flex justify-content-between align-items-center w-100 centerFooterOnSmallDevices">
                <p class="m-2"><small>
                                <h5 class="d-inline">vendaverde</h5> | Todos os direitos reservados. © 2020 Copyright
                        </small></p>
                <div class="d-flex justify-content-end">
                        <a href="https://github.com/Projeto-Integrador-t10" class="btn-social" target="_blank"><img
                                        src="./assets/icons/github-line.svg" alt=""></a>
                        <a href="https://www.instagram.com/oivendaverde" class="btn-social" target="_blank"><img
                                        src="./assets/icons/instagram-line.svg" alt=""></a>

                </div>
        </div>
</footer>