.bg-vverde  {
    background-color: #49B577;
}

.bg-vvdark {
    background-color: #243738;
}

.sobre-text-color{
    color: #ebe8de;
    line-height: 1.8rem;
}

.svgbg {
    background-image: url(../../assets/img/bg-tomate.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.maxwidth {
    max-width: 180px;
}
  
.faGithub, .faLinkedin{
    color: #182C2D;
}

.faLinkedin:hover{
color: #0072b1;
}

.faGithub:hover{
color: #49B577;
}
#sobre {
    text-indent: 4em;
}