<section class="w100 py-5 bg-vvdark svgbg">
    <div class="container">
        <h1 class="text-center sobre-text-color m-5">Sobre nós</h1>
        <p id="sobre" class="text-justify sobre-text-color">
            Somos um grupo de estudantes de Desenvolvimento Web Full-Stack do bootcamp da Generation Brasil, e fomos
            desafiados a criar um projeto cujo impacto social estivesse de acordo com um dos <a
                href="https://brasil.un.org/pt-br/sdgs" target="_blank">Objetivos de Desenvolvimento Sustentável da ONU</a>.
        </p>
        <p id="sobre" class="text-justify sobre-text-color">
            O objetivo escolhido foi <a href="https://brasil.un.org/pt-br/sdgs/2" target="_blank">Fome Zero e Agricultura
                Sustentável</a>, que tem como premissas acabar com a fome e todas as formas de desnutrição, dobrar a
            produtividade agrícola e a renda de pequenos produtores, sempre de maneira ambientalmente sustentável.
        </p>
        <p id="sobre" class="text-justify sobre-text-color mb-5">
            Pensando nisso, desenvolvemos o Venda Verde, com o intuito de conectar consumidores e ONGs com os produtores
            agrícolas de sua região. Nosso projeto visa fortalecer o consumo de produções regionais, resultando em menor
            desperdício de alimentos, aumento da renda dos produtores e, claro, produtos de qualidade e de produção
            sustentável ao alcance de todos.
        </p>
        <br><br><br><br>
    </div>
</section>

<section class="w-100 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-1">
                <div class="card sobre-text-color bg-vverde mb-3 border-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title">Missão</h5>
                        <hr class="bg-white">
                        <p class="card-text">
                            Fortalecer o consumo local e a produção agrícola responsável e sustentável.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-1">
                <div class="card sobre-text-color bg-vverde mb-3 border-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title">Visão</h5>
                        <hr class="bg-white">
                        <p class="card-text">
                            Ser referência no uso da tecnologia como ferramenta para levar produtos naturais e com
                            produção de
                            menor impacto ambiental à casa dos brasileires.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-1">
                <div class="card sobre-text-color bg-vverde mb-3 border-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title">Valores</h5>
                        <hr class="bg-white">
                        <ul>
                            <li>Responsabilidade ambiental, social e tecnológica;</li>
                            <li>Excelência derivada da diversidade de pessoas e pensamentos;</li>
                            <li>Inovação;</li>
                            <li>Integridade;</li>
                            <li>Paixão;</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w-100 py-5">
    <div class="container">
        <h1 class="mb-5 text-center">Nosso time</h1>
        <div class="row d-flex justify-content-center">
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://i.imgur.com/NfFcGTP.jpg?2" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Bárbara</h4>
                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/BarbaraEMCandido" role="button">
                        <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/bemcandido/" role="button">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://i.imgur.com/j6ycoSB.jpg" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Diana</h4>
                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/coelhodiana" role="button">
                        <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/coelhodiana04/" role="button">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://i.imgur.com/duFHaiE.jpg?1" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Mateus</h4>
                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/mastruzz" role="button">
                        <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/mateus-oliveira-a6238b18a/" role="button">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://i.imgur.com/rRzif3A.jpg" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Paulo</h4>
                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/PauloNegri" role="button">
                        <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/paulo-negri-8a3baa1a8/" role="button">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
            <!-- Pessoa 1 -->
            <div class="col-md-3 d-flex flex-column align-items-center maxwidth p-3 m-2 bg-lighy">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <img src="https://i.imgur.com/qOyKXEn.jpg?1" alt="" class="rounded-circle img-fluid w-100">
                </div>
                <h4 class="my-2">Rafaela</h4>
                <div>
                    <a class="icoGithub" target="_blank" href="https://github.com/Rafyy2102" role="button">
                        <fa-icon [icon]="faGithub" class="faGithub fa-2x p-2"></fa-icon>
                    </a>
                    <a class="faLinkedin" target="_blank" href="https://www.linkedin.com/in/rafaelass0221/" role="button">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
                    </a>
                </div>
            </div>
            <!-- Pessoa 1 -->
        </div>
    </div>
</section>