/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

h1, h2, h3, h4, h5 {
  font-family: 'Averia Serif Libre', cursive;   
}

body {
  background-color: #f7f1d770!important;
  overflow-y:scroll;
  font-size: 20px!important;
}