<div class="container my-5 pb-5">
  <div class="row m-3">
    <div class="col-md-8">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner rounded">
          <div class="carousel-item active slideImg">
            <img class="d-block w-100 img" src="{{produto.imag1}}" alt="Primeiro Slide">
          </div>
          <div class="carousel-item slideImg">
            <img class="d-block w-100 img" src="{{produto.imag2}}" alt="Segundo Slide">
          </div>
          <div class="carousel-item slideImg">
            <img class="d-block w-100 img" src="{{produto.imag3}}" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <h1>{{produto.nome}}</h1>     

      <h5>{{produto.preco | currency:'BRL'}}</h5>
      <button class="btn btn-outline-success m-1">comprar</button>
      <button class="btn btn-outline-success m-1">Adicionar ao carrinho</button>
      <button class="btn btn-outline-success m-1" [routerLink]="['/doar']">doar</button>
    </div>
  </div>
</div>