<app-search></app-search>

<!-- Hero section -->
<section class="w-100 carouselHeight bg-dark">
   
</section>
<!-- Hero section -->

<!-- Cards de Produto -->
<section class="w-100 my-5 py-5">    
    <div class="container">
        <div class="w-100 my-5 w-100 text-center">
            <p class="color-font mb-0"><small>Fortaleça os produtores perto de você</small></p>
            <h1 class="">Produtos em destaque</h1>
        </div>
        <div class="row d-flex justify-content-start">
            <div *ngFor="let item of listaProdutos" class="card m-3" style="width: 15.5rem;">
                <img src="../../assets/img/produto/banana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{item.nome}}</h5>
                <h6 class="card-title">{{item.preco| currency:'BRL'}}</h6>
                <a [routerLink]='["/prod", item.id]' class="btn btn-primary">Conheça-nos</a>
                </div>
            </div>
        </div> 
    </div>
</section>

<!-- Cards de Produto -->