<app-search></app-search>

<section class="w-100 py-5">
    <div class="container">
        <h1 class="mb-5">Produtores</h1>
        <div class="row d-flex justify-content-center">
            <!-- Produto 1 -->
            <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2 ">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <a href="#">
                        <img src="../../assets/img/produto/logo.jpg" alt="" class="rounded-circle img-fluid w-100"></a>
                </div>
            </div>
            <!-- Produto 2 -->
            <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2 ">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <a href="#">
                        <img src="../../assets/img/produto/logo.jpg" alt="" class="rounded-circle img-fluid w-100"></a>
                </div>
            </div>
            <!-- Produto 3 -->
            <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2 ">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <a href="#">
                        <img src="../../assets/img/produto/logo.jpg" alt="" class="rounded-circle img-fluid w-100"></a>
                </div>
            </div>
            <!-- Produto 4 -->
            <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2 ">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <a href="#">
                        <img src="../../assets/img/produto/logo.jpg" alt="" class="rounded-circle img-fluid w-100"></a>
                </div>
            </div>
            <!-- Produto 5 -->
            <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2 ">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <a href="#">
                        <img src="../../assets/img/produto/logo.jpg" alt="" class="rounded-circle img-fluid w-100"></a>
                </div>
            </div>
            <!-- Produto 6 -->
            <div class="col d-flex flex-column align-items-center maxwidth p-3 m-2">
                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                    <a href="#">
                        <img src="../../assets/img/produto/logo.jpg" alt="" class="rounded-circle img-fluid w-100"></a>
                </div>
            </div>
        </div>      
    </div>
</section>
<section class="w-100 py-5">    
    <div class="container">
        <h1 class="mb-5">Produtos</h1>
        <div class="row d-flex justify-content-center">
             <a *ngFor="let item of listaProdutos" [routerLink]='["/prod", item.id]'>
            <div>
                <div class="card m-3 text-dark" style="width: 15.5rem;">
                    <img src="{{item.imag1}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title ">{{item.nome}}</h5>
                    <h6 class="card-title ">{{item.preco| currency:'BRL'}}</h6>
                    <a [routerLink]='["/cadastro-produto"]' class="btn btn-primary">Adicionar ao carrinho</a>
                    </div>
                </div>
            </div> 

        </a>

        </div>
       

    </div>
</section>