.maxwidth {
    max-width: 180px;
}

.viewheight {
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.5);
}

a{
    text-decoration: none;
    text-decoration-color: black;
}

.slideImg {
    height: 70vh;
    overflow: hidden;
    object-fit: cover;
}

.img {
    height: 100%;
    object-fit: cover;
}

@media(max-width: 768px) {
    .leadTitle {
        font-size: 2rem;
    }
}